<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TodayExtensionSampleFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26297AE619CE6B8000C86A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26297AFF19CE6B8000C86A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2635D76119CE6BD9001713DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2635D77B19CE6C6F001713DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2635D78519CE6C6F001713DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
